body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
#idList div {
    background: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}